{% load static %}{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% if page_title %}{{page_title}} | {% endif %}{{config_settings.metatags.title}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{config_settings.metatags.description}}" />
    <meta name="keywords" content="{{config_settings.metatags.keywords}}" />

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    {% block styles %}{% render_bundle 'main' 'css' %}{% endblock %}

    <script type="text/javascript">
    window.django_config = {
        debug: {{debug|yesno:"true,false"}},
        media_url: '{{MEDIA_URL}}',
        static_url: '{{STATIC_URL}}',
        google_analytics_id: '{{config_settings.analytics.google_analytics_id}}',
    };
    </script>
</head>
<body>
{% block body %}<div id="root">{% block content %}{% endblock %}</div>{% endblock %}
{% include 'includes/outdatedbrowser.html' %}
{% render_bundle 'vendor' 'js' %}
{% if debug %}{% render_bundle 'main' 'js' attrs='crossorigin' %}{% else %}{% render_bundle 'main' 'js' %}{% endif %}
</body>
</html>
